* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(20, 20, 20);
}


nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
}

header{
    margin-top: 20px;
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;

}

.main-header .main-logo img{
    width: 20rem;
    border-radius: 10px;
}

h2{
    width: 100%;
    max-width: 1240px;
    text-align: center;
    font-size: 2rem;
}

h3{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

ul{
    display: flex;
}
ul li {
    list-style: none;
}
ul li a{
    display: flex;
    padding: 0 5px;
    text-decoration: none;
    color: rgb(27, 27, 27);
}

a:hover{
    text-decoration: underline;
    color: rgb(152, 207, 255);
}

.container{
    width: 100%;
    display: block;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: center;
}

.container-all{
    width: 100%;
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}



.container-all .infocont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.container-all .infocont img{
    transition: .3s;
}

.container-all .infocont img:hover{
    transform: scale(1.1) rotate(5deg);
}

.container-all .infocont h1{
    color: #2a2a2a;
    margin-top: 20px;
}

.container-all .infocont p{
    padding: 40px;
    color:#2a2a2a;
    font-size: 1.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-all .infocont .price{
    padding: 40px;
    text-align: center;
}

.container-all .infocont .price span,button{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 10px;
}

.container-all .infocont .price button{
    padding: 5px 3px;
    background-color: #ffa600;
    border-radius: 5px;
}

.container-all .infocont .price button a{
    text-decoration: none;
    color: #2a2a2a;
}

.container-all .infocont .price button:hover{
    color: white;
}

.container-all .infocont img{
    width: 100%;
    max-width: 300px;
}

.container-all .infocont .infocont-all {
    width: 100%;
    max-width: 600px;
}

.features{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.features div{
    width: 300px;
}

.features div img{
   padding: 0 100px;
   margin: 20px;
}

.features div h3{
    margin-bottom: 20px;
}

.features div p{
    padding: 10px;
}

.fijowhat img{
    width: 75px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 4000;}

.fondo {
    border-radius: 10px;
    text-align: center;
    padding: 250px 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ) ,url(https://www.debate.com.mx/__export/1660843505567/sites/debate/img/2022/08/18/plataformas-de-streaming.jpg_554688468.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 500px;
}

figure{
    position: relative;
    transition: all 500ms ease-out;
}
figure a div{
    
    position: absolute;
    top:0%;
    height: 100%;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

figure:hover > a div{
    width: 300px;
    margin: 20px;
    border-radius:4rem;
    height: -webkit-fill-available;
    opacity: 1;
    visibility: visible;
    color: #fff;
    padding: 6rem 2rem;
}

figure:hover > a div p{
    text-align: initial;
}



.pagos {
 width: 300px;
}

.buttonh2{
    margin-top: 30px;
}

.pantallas{
    background-color: #e4e4e4;
    width: 100%;
    max-width: 1240px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.pantallash2{
    padding: 50px 0px 0px;
    background-color: #e4e4e4;
    margin: 0 auto;
}

.pantallasp{
    background-color: #e4e4e4;
    text-align: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px 52px;
}

/* .pantallascont {
    width: 413px;
    
}
 */

.pantallascont img{
    width: 300px;
    margin: 20px;
    border-radius: 4rem;
}


.vermas {
    width: 300px;
    display: flex;
    margin: 30px 0px;
    justify-content: center;
}

.vermas a{
    height: 30px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    background: #5162ed;
    color:#fff;
    -webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
}

.producto{
    padding: 5px;
    border-radius: 8px;
    background-color: #ffa600;
    color: #2a2a2a;
}

.cuentas{
    background: #59d2ff;
    width: 100%;
    max-width: 1240px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.cuentash2{
    padding: 50px 0px 0px;
    background-color: #59d2ff;
    margin: 0 auto;
}

.cuentasp{
    background-color: #59d2ff;
    text-align: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px 52px;
}

/* .cuentascont {
    width: 413px;
}
 */
.cuentascont img{
    width: 300px;
    margin: 20px;
    border-radius: 4rem;
}

.pagosset{
    width: 100%;
    max-width: 1240px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.combos{
    background-color: #e4e4e4;
    width: 100%;
    max-width: 1240px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.comboscont img{
    border-radius: 4rem;
    width: 300px;
    margin: 20px;
}
.combosh2{
    background-color: #e4e4e4;
    margin: 0 auto;
    padding: 50px 0px 0px;
}

.combosp{
    background-color: #e4e4e4;
    text-align: center;
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px 52px;
}

.pagosset{
    width: 100%;
    max-width: 1240px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.pagosset img{
    width: 100px;
    margin: 20px;
}


footer p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}





/* SLIDER SHOW CSS*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html {
  border-top: 5px solid #fff;
  color: #2a2a2a;
}


h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {

  width: 1220px;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 520px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 520px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 2% 3%;
  width: auto;
  height: auto;
  background: #005d8841;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  background: #005d8896;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
    display: none;
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}



/* PAGINA DE CONTACTO CSS*/


.cajadecontacto{
    display: flex;
    justify-content: center;
}

.cajadecontacto img{
    vertical-align: sub;
    width: 80%;
    border-radius: 2%;
}

.cajaredes{
    width: 400px;
    display: grid;
}

.cajaredes a{
    width: 100%;
    padding: 20px 0px 0px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #2a2a2a;
    font-weight: bold;
}

.none {
    display: none;
}

.cajaredes img{
    width: 30px;
}
.container-all .telegram{
    text-align: center;
    margin-top: 50px;

}

.container-all .telegram a{
    padding: 10px 30px;
    width: 700px;
    border-radius: 1rem;
    border: 5px solid #039be5;
    text-decoration: none;
    color: #039be5;
    font-size: 1.5rem;
}

.container-all .telegram img{
    width: 30px;
}


/* CATALOGO DE SERVICIOS*/


.imgcatalogo{
    --opacidad-negro: 0.5;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("img/servicios.png");
    margin: 0 auto;
    
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1220px;
    height: 520px;
}

.imgcatalogo h2{
    padding: 250px 0px;
    color: #fff;
    font-size: 3rem;
}

.imgcatalogo h2 span{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}



/*--- RESPONSIVE ALL INDEX,CATALOGO, CONTACTO. ETC...--*/


@media only screen and (max-width: 920px){

    #slider img{
        width: 920px;
    }



    #slider ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: 520px;
        list-style: none;
      }
      
      #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 393px;
        background: #ccc;
        text-align: center;
        line-height: 300px;
      }
      
      a.control_prev, a.control_next {
        position: absolute;
        top: 40%;
        z-index: 999;
        display: block;
        padding: 2% 3%;
        width: auto;
        height: auto;
        background: #005d8841;
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        opacity: 0.8;
        cursor: pointer;
      }



    .features div{
        width: 220px;
    }


    .features div img{
     
        padding: 0 70px;
    
    }

    figure:hover > a div{
        width: 220px;
        margin: 20px;
        border-radius:4rem;
        padding: 4rem 1rem;
        font-size: 0.7rem;
        border-radius: 3rem;
    }

    figure:hover > a div h2{
        font-size: 1.5rem;
    }
    

    .container .vermas{
        width: 300px;
    }

    

    .pagosset div img{
        width: 80px;
    }


    /*RESPONSIVE CATALOGO*/

    .imgcatalogo{
        background-size: 100%;
    }

    .imgcatalogo h2{
        font-size: 2rem;
        padding: 200px 0px;
    }

    .pantallascont img{
        width: 220px;
        border-radius: 3rem;
    }

    .cuentascont img{
        width: 220px;
        border-radius: 3rem;
    }

    .comboscont img{
        width: 220px;
        border-radius: 3rem;
    }

    /*CONTACTOS*/

    .cajaredes img {
        width: 30px ¡important;
    }
}

/*RESPONSIVE 768PX*/

@media only screen and (max-width: 768px){


    #slider img{
        width: 768px;
    }

    #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 330px;
        background: #ccc;
        text-align: center;
        line-height: 300px;
      }

    .features div{
        width: 190px;
    }

   .features div img{
     
    padding: 0 50px;

   }

   figure:hover > a div{
    width: 190px;
    margin: 20px;
    padding: 4rem 1rem;
    font-size: 0.7rem;
    border-radius: 3rem;
}

figure:hover > a div h2{
    font-size: 1.2rem;
}



    .container .vermas{
        width: 600px;
    }


    .container-all .infocont .infocont-all p{
        padding: 5px 40px;
        font-size: 1.3rem;

    }

    .container-all .infocont .infocont-all .price{
        padding: 20px 40px 10px;
    }

    .container-all .infocont .infocont-all .price span{
        font-size: 1.7rem;
    }

    

    .pagosset div img{
        width: 80px;
    }


    /*RESPONSIVE CATALOGO*/

    .imgcatalogo{
        background-size: 100%;
        height: 330px;
    }

    .imgcatalogo h2{
        font-size: 2rem;
        padding: 140px 0px;
    }

    .pantallascont img{
        width: 190px;
    }

    .cuentascont img{
        width: 190px;
    }

    .comboscont img{
        width: 190px;
    }

    /*CONTACTOS*/

    .cajaredes img {
        width: 30px ¡important;
    }

    .cajaredes a{
        font-size: 1rem;
    }
}

@media only screen and (max-width: 425px){

    .logotipo {
        width: 100px;
    }

    #slider img{
        width: 425px;
    }

    #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 181px;
        background: #ccc;
        text-align: center;
        line-height: 300px;
      }

    .features div{
        width: 200px;
    }

    .features div img{
        padding: 0 20px;
       }
    
    figure:hover > a div{
        width: 150px;
        margin: 20px;
        padding: 1rem 0.5rem;
        font-size: 0.8rem;
        border-radius: 2rem;
    }

    figure:hover > a div h2{
        font-size: 1rem;
    }
    

    .container .vermas{
        width: 300px;
    }

    .pantallascont img{
        width: 150px;
        border-radius: 2rem;
    }

    .cuentascont img{
        width: 150px;
        border-radius: 2rem;
    }

    .comboscont img{
        width: 150px;
        border-radius: 2rem;
    }

    

    .pagosset div img{
        width: 80px;
    }


    /*RESPONSIVE CATALOGO*/

    .imgcatalogo{
        background-size: 100%;
        height: 180px;
    }

    .imgcatalogo h2{
        font-size: 1.5rem;
        padding: 63px 0px;
    }

    .imgcatalogo h2 span{
        font-size: 0.7rem;
    }


    /*CONTACTOS*/

    .cajaredes img {
        width: 30px ¡important;
    }

    .container-all .telegram a{
        font-size: 0.8rem;
    }
    
    .cajaredes a{
        font-size: 0.5rem;
    }

    h3{
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
    }

    h2{
        width: 100%;
        max-width: 1240px;
        text-align: center;
        font-size: 1.3rem;
    }
    
    footer p{
        font-size: 0.8rem;
    }



}

@media only screen and (max-width: 375px){

    .logotipo {width: 100px;}

    #slider img{
        width: 375px;
    }

    #slider ul li {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 161px;
        background: #ccc;
        text-align: center;
        line-height: 300px;
      }

    .features div{
        width: 150px;
    }

    .features div img{
     
        padding: 0 20px;
    
       }
    
       figure:hover > a div{
        width: 100px;
        margin: 20px;
        padding: 1rem 0.5rem;
        font-size: 0.5rem;
        border-radius: 2rem;
    }

    figure:hover > a div h2{
        font-size: 0.8rem;
    }
    

    .container .vermas{
        width: 300px;
    }

    

    .pagosset div img{
        width: 80px;
    }


    /*RESPONSIVE CATALOGO*/

    .imgcatalogo{
        background-size: 100%;
        height: 160px;
    }

    .imgcatalogo h2{
        font-size: 1.5rem;
        padding: 63px 0px;
    }

    .imgcatalogo h2 span{
        font-size: 0.7rem;
    }

    .pantallascont img{
        width: 100px;
    }

    .cuentascont img{
        width: 100px;
    }

    .comboscont img{
        width: 100px;
    }

    /*CONTACTOS*/

    .cajaredes img {
        width: 20px ¡important;
    }

    .container .telegram a{
        font-size: 0.9rem;
    }
    
    .cajaredes a{
        font-size: 0.5rem;
    }

    h3{
        text-align: center;
        font-size: 1rem;
        margin-top: 20px;
    }

    h2{
        width: 100%;
        max-width: 1240px;
        text-align: center;
        font-size: 1.3rem;
    }
    
    footer p{
        font-size: 0.8rem;
    }

}





/*MENU DE HAMBURGUESA*/


.main-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 0.4rem;
  }
  
  .main-header .main-nav a{
    text-decoration: none;
  }

  .main-header .main-nav a:hover{
    color: #5162ed;
  }


  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    z-index: 100;
    background-color: rgba(0, 162, 255, 0.589);
  }
  
  .main-nav.show {
    margin-left: 0;
  }
  
  .nav-links {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link-item {
    margin-top: 2rem;
    color: #005ed8;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .button-menu {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column; /* Pondrá un span debajo del otro*/
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* 
    Dibujamos una línea recta por cada span creando el tipico menu hamburguesa
  */
  
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #005ed8;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  
  /* 
    con los span dibujamos un icono de cerrar 
    para mostrar cuándo la navegación este abierta 
  */
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3) {
    display: none;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .main-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 0.4rem;
  }
  
  .main-logo {
    color: black;
    font-size: 32px;
    text-decoration: none;
  }
  
  .main-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    margin-left: -100%;
    transition: all 0.2s linear;
    background-color: rgba(0, 162, 255, 0.589);
    z-index: 100;
  }
  
  .main-nav.show {
    margin-left: 0;
    z-index: 3000;
  }
  
  .nav-links {
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .link-item {
    margin-top: 2rem;
    color: #444444;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .link-item::after {
    position: absolute;
    content: "";
    background-color: black;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .link-item:hover::after {
    width: 100%;
  }
  
  .button-menu {
    z-index: 3000;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-menu span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  
  .button-menu.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3) {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .button-menu {
      display: none;
    }
  
    .main-logo {
      flex-basis: 30%;
    }
  
    .main-nav {
      position: static;
      margin-left: 0;
      flex-basis: 70%;
      height: 100%;
    }
  
    .nav-links {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      background: white;
    }
  
    .link-item {
      display: inline-block;
      margin-top: 0;
      margin-right: 2rem;
    }
  }